.searchIcon {
  cursor: pointer;
}
table {
  width: 100%;
}

.tableRow {
  cursor: pointer;
}
.enTete {
  display: block;
  position: fixed;
  width: 80vw;
  height: 60px;
  z-index: 10;
}
.tableWrap {
  display: block;
  padding-top: 35px;
}
