<mat-card>
  <form>
    <mat-form-field class="searchForm">
      <input type="text" matInput [formControl]="search" [matAutocomplete]="auto" placeholder="search product">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let option of options" [value]="option.Code"> {{option.Taux_UG}} {{option.Produit}}</mat-option>
    </mat-autocomplete>
  </form>
</mat-card>

<mat-tab-group [selectedIndex]="panierOrCommande.value" (selectedIndexChange)="panierOrCommande.setValue($event)">
  <mat-tab label="commande">
    <div *ngIf="highlighted">
      <h1> Highlighted Products </h1>
      <p> Zanitra </p>
      <p> Lomac </p>
      <p> Maxidrol </p>
    </div>
    <router-outlet></router-outlet>
    <!-- router for command, generique, history  -->
  </mat-tab>
  <mat-tab label="panier">
    <router-outlet name="panierOutlet"></router-outlet> <!-- named router for panier,  -->
  </mat-tab>
</mat-tab-group>