<mat-card>
  <mat-form-field>
    <input matInput placeholder="product search" value="">
  </mat-form-field>
</mat-card>

<mat-tab-group (selectedTabChange)="tabSelected($event)">
  <mat-tab label="Commande">
    <mat-tab-group>
      <mat-tab label="Produit">
        <p> "produitOutlet"</p>>
      </mat-tab>
      <mat-tab label="Generiques">
        <p> "generiqueOutlet"</p>
      </mat-tab>
      <mat-tab label="History">
        <p>"historyOutlet" </p>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Panier">
    <p> panier outlet down here named "panierOutlet" </p>
    <router-outlet name="panierOutlet"></router-outlet>>
  </mat-tab>
</mat-tab-group>