<mat-tab-group (selectedTabChange)="tabSelected($event)" class="documentsTab">
  <mat-tab label="Factures">
    <div>
      <router-outlet name="facturesOutlet"></router-outlet>
    </div>

  </mat-tab>
  <mat-tab label="Avoirs">
    <router-outlet name="avoirsOutlet"></router-outlet>
  </mat-tab>
  <mat-tab label="Reclamation">
    <router-outlet name="reclamationsOutlet"></router-outlet>
  </mat-tab>
  <mat-tab label="Paiments">
    <router-outlet name="paimentsOutlet"></router-outlet>
  </mat-tab>
</mat-tab-group>